@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F172A; 
  
  --primary: #F59E0B;      
  --primary-hover: #D97706; 
  
  /* Backgrounds & Borders */
  --slate-900: #0F172A;
  --slate-50: #F8FAFC;
  --border-gray: #F1F5F9;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; 
    --foreground: #111827;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif; 
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}